{% extends 'base.html.twig' %}
{% block title 'Agence Lorem Ipsum' %}
{% block body %}
<div class="container">
  <div class="jumbotron text-center">
    <h1>Agence Lorem Ipsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div class="container">
  <h2>Les derniers biens</h2>
  <div class="row flex">
    {% for property in properties %}
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a href="#">{{property.title}}</a>
              </h5>
              <p class="card-text">{{property.city}} ({{property.postalCode}})</p>
              <div class="text-info">
                {{property.price | number_format(0 , '', ' ')}}€
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
