{% extends 'base.html.twig' %}

{% block title 'Éditer le bien' %}

{% block body %}
<div class="container mt-4">
  <h1>Éditer le bien</h1>
  {{form_start(form)}}
    {{form_rest(form)}}
    <button type="button" class="btn btn-primary">Editer</button>
  {{form_end(form)}}

</div>

{% endblock %}
